/* cascade */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #111;
  font: 100%/1.5 'Work Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 5rem;
  letter-spacing: -0.03em;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 4rem;
  letter-spacing: -0.03em;
  line-height: 1.2;
}

/* subsurf */

.brand {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

section {
  min-height: 60vh;
  padding: 2rem;
}

#intro {
  background: #fed;
  text-align: center;
}
.stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem;
}
.button {
  background: #111;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 1.5rem 4rem;
}
.lede {
  font-size: 1.5rem;
}

/* unique selling props */

#usps {
  text-align: center;
}
#usps svg {
  font-size: 4rem;
}

.set {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.set > * {
  display: flex;
  flex-direction: column;
  flex: 1 0 20rem;
  gap: 2rem;
  padding: 4rem 3rem;
}

/* footer */

footer {
  background: #111;
  color: #fff;
  padding: 4rem;
}
