:root {
  --background-color: #fff;
  --link-color: #f86;
  --text-color: #111;
  --title-color: #111;
}

/* cascade */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background-color);
  color: var(--text-color);
  font: 100%/1.5 'Work Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1 {
  color: var(--title-color);
  font-size: 5rem;
  letter-spacing: -0.03em;
  line-height: 1;
  margin: 0;
}

h2 {
  color: var(--title-color);
  font-size: 4rem;
  letter-spacing: -0.03em;
  line-height: 1.2;
}

blockquote {
  border-left: 3px solid var(--title-color);
  display: block;
  margin: unset;
  padding: 0 2rem;
}

li {
  margin: 0 0 1rem;
}
li strong {
  color: var(--title-color);
}

p {
  margin: unset;
}

/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  color: var(--link-color);
  text-decoration: none;
  transition: background-size 0.5s cubic-bezier(0.1, 1, 0.3, 1);
}
a:focus,
a:hover {
  background-size: 100% 2px;
}

.External::after {
  content: '↗';
  margin-left: 0.2em;
  vertical-align: middle;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

i {
  text-align: center;
  width: 1.2em;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* layout */

.Center {
  margin: 0 auto;
  max-width: 800px;
}

/* subsurf */

.brand {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

section {
  min-height: 60vh;
  padding: 2rem;
}

#intro {
  background: #fed;
  text-align: center;
}
.stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem;
}
.button {
  background: #111;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 1.5rem 4rem;
}
.lede {
  font-size: 1.5rem;
}

#gallery {
  background: #fed;
  display: flex;
  gap: 1rem;
  min-height: unset;
  overflow: hidden;
  padding: 2rem 0;
}
#gallery > * {
  border-radius: 0.5rem;
  flex: 1;
  max-height: 15rem;
}

#logos {
  background: #111;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  min-height: unset;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee {
  animation: marquee 20s linear infinite;
  display: flex;
  gap: 4rem;
  position: relative;
  width: max-content;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

#usps {
  text-align: center;
}
#usps svg {
  font-size: 4rem;
}

.set {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.set > * {
  display: flex;
  flex-direction: column;
  flex: 1 0 20rem;
  gap: 2rem;
  padding: 4rem 3rem;
}

footer {
  background: #111;
  color: #fff;
  padding: 4rem;
}
