@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

/* cascade */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #111;
  font: 100%/1.5 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1,
h2 {
  color: var(--title-color);
  letter-spacing: -0.03em;
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

p {
  margin: 0;
}

/* subsurf */

.brand {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 60vh;
  padding: 4rem;
  text-align: center;
}

#intro {
  background: #fed;
  padding-bottom: unset;
}
.stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem 0;
}
.button {
  align-items: center;
  background: #111;
  border-radius: 0.5rem;
  box-shadow: 8px 8px 0 #0002;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  padding: 1.5rem 4rem;
  text-decoration: none;
  transition: 0.1s linear;
}
.button:hover {
  box-shadow: 12px 12px 0 #0002;
  transform: translateY(-8px);
}
.lede {
  font-size: 1.5rem;
}

#usps svg {
  font-size: 4rem;
}

.set {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.set > * {
  display: flex;
  flex-direction: column;
  flex: 1 0 15rem;
  gap: 1rem;
  padding: 2rem;
}

/* services */

#services {
  max-width: 1200px;
  margin: auto;
  text-align: left;
}

.services-header {
  color: #000;
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
}

.services-section {
  border: 6px solid #ffeedd; /* Adjust the color and size as needed */
  padding: 50px; /* Adjust the padding as needed */
  margin: 20px auto; /* Centers the box and adds margin */
}

.services-list {
  display: flex;
  flex-wrap: wrap; /* In case you want to support responsiveness */
  justify-content: space-between;
  gap: 30px;
}

.services-column {
  flex: 1; /* Makes the columns flexible */
  min-width: 200px; /* Minimum width of columns, adjust as needed */
  max-width: 33%; /* Maximum width of columns */
}

.services-item {
  border-bottom: 6px solid #ffeedd;
  padding: 16px 0;
  color: #000;
  margin: 30px 0;
}

.services-grid {
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

/* pricing */

#pricing {
  background: #fed;
}

.smallcaps {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* plans */
#plans {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  margin: 0 auto;
  max-width: 1024px;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  flex: 1 0 30%;
  padding: 2rem;
  position: relative;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.badge {
  background: #07f;
  border-radius: 6px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  left: 1rem;
  letter-spacing: 0.1em;
  line-height: 16px;
  padding: 8px 12px;
  position: absolute;
  text-transform: uppercase;
  top: -1rem;
  transform: rotate(-3deg);
}

h4 {
  font-size: 1.5rem;
  letter-spacing: -0.03em;
  line-height: 2rem;
  margin: 0 0 8px;
}

small {
  opacity: 0.5;
}

.plan > div > b {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.actions {
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.plan .button {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

a {
  color: inherit;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.fa-comments-alt {
  font-size: 4rem;
}
/* footer */

footer {
  background: #111;
  color: #fff;
  padding: 4rem;
}

/* mobile */

@media (max-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
  section {
    padding: 2rem;
  }
}
